{% extends 'base.html' %}

{% block content %}
<body>
<h5>Nama: </h5>
<b>{{nama}}</b>
<style>
    body{
        background-color: antiquewhite;
    }
</style>


<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Tarreq Maulana</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></hr></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
          <button><a href="{% url 'wishlist:logout' %}">Logout</a></button>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
          </input>
        </form>
      </div>
    </div>
  </nav>



<div id="ajaxbased"> 
    
</div>

<div>
    <button><a href="{% url 'wishlist:add_wishlist_ajax' %}">Tambahkan wishlist</a></button>
    </div>

<h5>Sesi terakhir login: {{ last_login }}</h5>
<style>
    .main{
        text-align: center; 
        margin: auto;  
        width: 50% !important;
        background-color: aqua;
    }
    .title{
        font-size: 30px;
    }
</style>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $.get('/wishlist/json', function(data){
            // alert(data[0].fields.nama_barang)
            
            var table = "<th>Nama Barang </th><th> Harga Barang </th><th> Deskripsi </th>"
                for(i=0; i<data.length; i++){
                    table += "<table><tr><th>" + data[i].fields.nama_barang + "</table></tr></th>";
                 }
                 table += "</tr></table>"
                 document.getElementById("ajaxbased").innerHTML = table
        })

    })
</script>
{% endblock content %}